<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title>tfidf & sim</title>
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flash">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<body>
<br>
<form method="POST" action="/TFIDF"  target="myIframe">
	计算两个句子相似度：<br>
	句子1：
	<input type="text" name="sen_1" placeholder="Enter sentence 1"><br>
	句子2：
	<input type="text" name="sen_2" placeholder="Enter sentence 2">
	<input type="submit" value="Submit" ><br><br>
	内积相似度为：
	<input type="text" name="result_1" disabled="true" value={{result_1}} ><br>
	余弦相似度为：
	<input type="text" name="result_2" disabled="true" value={{result_2}} ><br>
	Jaccard相似度为：
	<input type="text" name="result_3" disabled="true" value={{result_3}} ><br>
</form>

</body>
</html>
