<!DOCTYPE html>
<html>
<head>
    <title>tfidf & sim</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='sim.css')}}">
</head>

<body>
<br>
<div class="inputWord">
<form method="POST" target="_self">
	<h1>计算句子相似度</h1>
	<p>句子1：<input type="text" name="sen_1" placeholder="Enter sentence 1"></p>
	<p>句子2：<input type="text" name="sen_2" placeholder="Enter sentence 2"></p>
	<p><input type="submit" value="Submit" ></p>
	<p>内积相似度为：<input type="text" name="result_1" disabled="true" value={{result_1}} ></p>
	<p>余弦相似度为：<input type="text" name="result_2" disabled="true" value={{result_2}} ></p>
	<p>Jaccard相似度为：<input type="text" name="result_3" disabled="true" value={{result_3}} ></p>

{% with messages = get_flashed_messages() %}
{% if messages %}
    <p>
    <ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
    </ul>
    </p>
{% endif %}
{% endwith %}
</form>
</div>
</body>
</html>
